.container {
  display: flex;
  border: 1px solid black;
  top: 10%;
  left: 2%;
  position: fixed;
  width: 100px;
  height: 60%;
  justify-content: center;
}
.ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.list {
  margin-top: 5px;
  font-weight: bold;
}
